.authNavbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px;

    > a {
        &:nth-of-type(1) {
            font-family: $f-poppin;
            font-size: 25px;
            color: #d9d9d9;
            transition: .5s;

            &:hover {
                color: white;
            }
        }

        &:nth-of-type(2) {
            font-family: $f-montserrat;
            font-size: 14px;
            color: #d9d9d9;
            transition: .5s;

            &:hover {
                color: white;
            }

            > i {
                margin-right: 8px;
            }
        }
    }
}
