@mixin authBtn($hov-color){
    font-size: 16px !important;

    &:hover{
        background-color: $hov-color;
        cursor: pointer;
    }
}

.authForm {
    margin-top: 60px;

    > button {
        outline: none;
        border: none;
        color: white;
        border-radius: 20px;
        width: 100%;
        padding: 4px 0;
        line-height: 2;
        margin-top: 40px;
        transition-duration: 0.3s;
        font-family: $f-ubuntu;

        &.signin {
            background-color: #952323;
            @include authBtn(#ca3030);
        }

        &.signup {
            background-color: #287f7f;
            @include authBtn(#319696);
        }
    }

    & + a {
        color: gray;
        margin-top: 18px;
        font-family: $f-montserrat;
        font-weight: 300;
        text-decoration: underline;
        font-size: 14px;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}
