.authNavbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px; }
  .authNavbar > a:nth-of-type(1) {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #d9d9d9;
    transition: .5s; }
    .authNavbar > a:nth-of-type(1):hover {
      color: white; }
  .authNavbar > a:nth-of-type(2) {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #d9d9d9;
    transition: .5s; }
    .authNavbar > a:nth-of-type(2):hover {
      color: white; }
    .authNavbar > a:nth-of-type(2) > i {
      margin-right: 8px; }

.authCredit {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #878787; }
  .authCredit p {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 16px; }
  .authCredit i {
    padding-left: 5px;
    padding-right: 5px;
    color: #17a2b8; }

.confirm-bar {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 700px) {
    .confirm-bar {
      flex-direction: column-reverse; } }
  .confirm-bar button {
    min-width: 96px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-right: 10px;
    background-color: #efefef;
    cursor: pointer; }
    .confirm-bar button > i {
      margin-right: 5px; }
    .confirm-bar button:nth-of-type(1) {
      background-color: #8BC34A; }
    .confirm-bar button:nth-of-type(2) {
      color: gray; }
  .confirm-bar > p {
    color: gray;
    font-size: 13px; }

.as-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #c8c8c847;
  padding-bottom: 15px; }
  .as-bar > div {
    display: flex;
    align-items: center; }
    .as-bar > div:nth-of-type(1) {
      margin-right: 10px; }
      .as-bar > div:nth-of-type(1) > p {
        display: flex;
        align-items: center;
        margin: 0;
        font-family: "Roboto", sans-serif; }
        .as-bar > div:nth-of-type(1) > p > i {
          color: gray;
          font-size: 18px;
          margin-right: 10px; }
        .as-bar > div:nth-of-type(1) > p > span {
          font-size: 13px; }
      .as-bar > div:nth-of-type(1) > button {
        cursor: pointer;
        border: 2px solid #f2f2f2;
        padding: 8px 9px 7px;
        background-color: #f2f2f2;
        outline: none;
        margin-right: 10px;
        border-radius: 3px;
        transition: .2s; }
        .as-bar > div:nth-of-type(1) > button#add {
          margin-left: 10px; }
          .as-bar > div:nth-of-type(1) > button#add > i {
            color: gray;
            font-size: 14px; }
        .as-bar > div:nth-of-type(1) > button#remove > i {
          color: #e49a9a;
          font-size: 14px; }
        .as-bar > div:nth-of-type(1) > button:hover {
          background-color: #e7e7e7;
          border-color: #e7e7e7; }
    .as-bar > div:nth-of-type(2) {
      margin-right: 10px; }
      .as-bar > div:nth-of-type(2) > p {
        margin-right: 10px; }
      .as-bar > div:nth-of-type(2) > div {
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 10px;
        transition: .2s; }
        .as-bar > div:nth-of-type(2) > div > i {
          color: #878787;
          margin-right: 10px;
          transition: .2s; }
        .as-bar > div:nth-of-type(2) > div > input {
          font-family: "Roboto", sans-serif;
          width: 300px;
          border: none;
          color: gray;
          background-color: transparent; }
          .as-bar > div:nth-of-type(2) > div > input::placeholder {
            color: #d3d3d3; }
        .as-bar > div:nth-of-type(2) > div:focus-within {
          border-color: #bfbfbf; }

.custom-card {
  margin-top: 0 !important; }

.custom-header {
  padding-top: 15px;
  padding-left: 15px; }
  .custom-header > h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px; }
  .custom-header > p {
    margin: 0;
    color: gray;
    font-size: 13px; }

.price-container {
  overflow-y: auto;
  height: 180px;
  max-height: 180px; }

.people-container {
  padding-top: 10px;
  overflow-y: auto;
  height: 310px;
  max-height: 310px; }

.authBg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .authBg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .authBg > div > #content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .authBg > div > #content h1 {
        margin: 0;
        text-align: center;
        font-family: "Ubuntu", sans-serif;
        color: #bababa;
        font-size: 40px; }
      .authBg > div > #content h4 {
        margin: 0;
        margin-top: 20px;
        color: #939393;
        font-size: 15px;
        font-family: "Ubuntu", sans-serif; }

.inner {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #05191f80;
  position: relative; }
  .inner > .inForm {
    position: relative;
    z-index: 2; }
    .inner > .inForm > .authForm {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 50px;
      margin-bottom: 10px; }
      .inner > .inForm > .authForm > button {
        outline: none;
        border: none;
        color: white;
        border-radius: 20px;
        width: 100%;
        padding: 4px 0;
        line-height: 2;
        margin-top: 40px;
        transition-duration: 0.3s;
        font-family: "Ubuntu", sans-serif; }
        .inner > .inForm > .authForm > button.signin {
          background-color: #952323;
          font-size: 16px !important; }
          .inner > .inForm > .authForm > button.signin:hover {
            background-color: #ca3030;
            cursor: pointer; }
        .inner > .inForm > .authForm > button.signup {
          background-color: #287f7f;
          font-size: 16px !important; }
          .inner > .inForm > .authForm > button.signup:hover {
            background-color: #319696;
            cursor: pointer; }
    .inner > .inForm + a {
      color: gray;
      margin-top: 9px;
      margin-left: 90px;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-decoration: underline;
      font-size: 14px; }
      .inner > .inForm + a:hover {
        color: white;
        text-decoration: underline; }

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .contact-box > div:nth-of-type(1) {
    position: relative; }
    .contact-box > div:nth-of-type(1) > img {
      width: 70px;
      height: 70px;
      border-radius: 55%;
      margin-bottom: 10px;
      border: none; }
      .contact-box > div:nth-of-type(1) > img.select {
        box-shadow: 3px 3px 2px #848181; }
    .contact-box > div:nth-of-type(1) > button {
      position: absolute;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 20px;
      padding: 3px 5px;
      bottom: 15px;
      right: 3px;
      transition: .2s;
      width: 20px;
      height: 20px;
      border-radius: 55%; }
      .contact-box > div:nth-of-type(1) > button.remove {
        background-color: #8ee78e8a; }
        .contact-box > div:nth-of-type(1) > button.remove > i {
          font-size: 11px;
          color: white; }
      .contact-box > div:nth-of-type(1) > button.add {
        background-color: #c4c4c4a3; }
        .contact-box > div:nth-of-type(1) > button.add > i {
          font-size: 11px;
          color: white; }
  .contact-box > div:nth-of-type(2) {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact-box > div:nth-of-type(2) > p {
      margin: 0;
      font-weight: 700;
      color: gray; }
    .contact-box > div:nth-of-type(2) > small {
      font-size: 12px;
      font-weight: 400;
      color: #a1a1a1; }
  .contact-box:hover > div:nth-of-type(1) > button.remove {
    background-color: #7dc87d; }
  .contact-box:hover > div:nth-of-type(1) > button.add {
    background-color: #a5a3a3; }

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer; }
  .price-box.select {
    border: 2px solid #b7b7b7; }
  .price-box.disable {
    border-color: #dedede;
    background-color: #f5f5f5;
    color: gray;
    cursor: default; }
  .price-box > div {
    display: flex;
    align-items: center; }
    .price-box > div > i {
      margin-left: 15px;
      margin-right: 20px;
      font-size: 22px;
      color: gray; }
    .price-box > div div {
      display: flex;
      flex-direction: column; }
      .price-box > div div > p {
        margin: 0;
        font-weight: 400;
        font-size: 14px; }
      .price-box > div div > small {
        font-size: 11px; }
  .price-box > i {
    color: gray;
    font-size: 17px;
    margin-right: 10px; }

.people-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .people-box > div:nth-of-type(1) {
    position: relative; }
    .people-box > div:nth-of-type(1) > img {
      width: 70px;
      height: 70px;
      border-radius: 55%;
      margin-bottom: 10px;
      box-shadow: 3px 3px 2px #848181;
      border: none; }
    .people-box > div:nth-of-type(1) > button {
      position: absolute;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 20px;
      padding: 3px 5px;
      bottom: 15px;
      right: 3px;
      transition: .2s; }
      .people-box > div:nth-of-type(1) > button.remove {
        background-color: #b047477a; }
        .people-box > div:nth-of-type(1) > button.remove > i {
          font-size: 11px;
          color: white; }
      .people-box > div:nth-of-type(1) > button.add {
        background-color: #8ee78e8a; }
        .people-box > div:nth-of-type(1) > button.add > i {
          font-size: 11px;
          color: white; }
  .people-box > div:nth-of-type(2) {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .people-box > div:nth-of-type(2) > p {
      margin: 0;
      font-weight: 700;
      color: gray; }
    .people-box > div:nth-of-type(2) > small {
      font-size: 12px;
      font-weight: 400;
      color: #a1a1a1; }
  .people-box:hover > div:nth-of-type(1) > button.remove {
    background-color: #d16969; }
  .people-box:hover > div:nth-of-type(1) > button.add {
    background-color: #7dc87d; }

.timeBox {
  display: flex;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between; }
  .timeBox > div {
    display: flex;
    align-items: center; }
    .timeBox > div > i {
      margin-right: 20px;
      font-size: 25px;
      color: #c6c6c6; }
    .timeBox > div p {
      margin: 0;
      font-size: 13px; }
      .timeBox > div p:nth-of-type(1) {
        color: #aaaaaa; }
      .timeBox > div p:nth-of-type(2) {
        color: #aaaaaa;
        font-size: 12px; }
  .timeBox > span > span {
    font-size: 13px;
    color: #c8c8c8; }
  .timeBox.invoice > div > i {
    color: #a3a3a3; }
  .timeBox.invoice > div p:nth-of-type(1) {
    color: #777777; }
  .timeBox.invoice > div p:nth-of-type(2) {
    color: gray; }
  .timeBox.invoice > span {
    padding: 3px 10px;
    border: 1px solid #dedede;
    border-radius: 5px; }
    .timeBox.invoice > span > span {
      color: #939393;
      font-weight: 500;
      font-size: 12px; }
    .timeBox.invoice > span > i {
      color: #939393;
      font-size: 12px;
      margin-right: 5px; }
    .timeBox.invoice > span:hover {
      cursor: pointer; }
  .timeBox.inwork > span#working {
    background-color: #f2f2f2;
    padding: 3px 12px;
    border: 1px solid #f2f2f2;
    border-radius: 3px; }
    .timeBox.inwork > span#working > span {
      color: #959595;
      font-weight: 500;
      font-size: 12px; }
    .timeBox.inwork > span#working > i {
      color: #939393;
      font-size: 12px;
      margin-right: 5px; }
    .timeBox.inwork > span#working:hover {
      cursor: pointer; }

.empty-box {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: gray; }

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .form-input > label {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px; }
  .form-input > input, .form-input textarea {
    border-radius: 3px;
    padding: 8px 10px;
    border: 1px solid #c0c0c0;
    line-height: 2;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: #555555; }
    .form-input > input::placeholder, .form-input textarea::placeholder {
      line-height: 2;
      color: #b8b8b8;
      font-family: "Roboto", sans-serif !important; }
    .form-input > input:focus, .form-input textarea:focus {
      border-color: #9f9f9f; }

.authInput > i, .authInput > input {
  padding: 7px 10px;
  background-color: #ffffff1a;
  line-height: 2;
  transition-duration: 0.5s;
  font-size: 14px; }

.authInput {
  margin-bottom: 10px; }
  .authInput > i {
    color: #edededa8;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition-duration: 0.5s; }
    .authInput > i.focus {
      background-color: #ffffff30; }
  .authInput > input {
    border: none;
    outline: none;
    width: 270px;
    color: #ffffffa8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Ubuntu", sans-serif; }
    .authInput > input::placeholder {
      color: #edededa8;
      font-size: 14px; }
    .authInput > input.focus {
      background-color: #ffffff30; }

.custom-cell {
  min-width: 200px;
  display: flex !important;
  align-items: center;
  flex-wrap: nowrap; }
  .custom-cell.people-name img {
    margin-right: 15px;
    border-radius: 5px;
    width: 50px;
    height: 50px; }
  .custom-cell.people-name div {
    display: flex;
    flex-direction: column; }
    .custom-cell.people-name div span {
      margin-top: 5px; }
      .custom-cell.people-name div span i {
        margin-right: 5px; }
  .custom-cell.bill-electric div {
    display: flex;
    flex-direction: column; }
    .custom-cell.bill-electric div > span {
      margin-top: 5px;
      font-weight: 500;
      color: #a2a2a2e3;
      font-size: 11px; }
      .custom-cell.bill-electric div > span i {
        color: #d3d3d3e3;
        margin-right: 5px; }
  .custom-cell.room-name img {
    margin-right: 15px;
    border-radius: 5px;
    width: 30px;
    height: 30px; }
  .custom-cell.room-name div {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #cfcfcf59;
    display: flex;
    justify-content: center;
    align-items: center; }
    .custom-cell.room-name div span {
      font-size: 11px;
      color: gray; }

.bill-electric {
  display: flex !important;
  align-items: center;
  flex-wrap: nowrap; }
  .bill-electric div {
    display: flex;
    flex-direction: column; }
    .bill-electric div span {
      margin-top: 5px;
      color: #a8a8a8e3; }
      .bill-electric div span i {
        color: #d3d3d3e3;
        margin-right: 5px; }

.payState > div {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .payState > div.expired {
    cursor: default; }
    .payState > div.expired:hover > span {
      color: gray;
      text-decoration: underline;
      cursor: pointer; }
  .payState > div > i {
    margin-right: 8px;
    color: #c6c6c6;
    font-size: 16px; }
  .payState > div > span {
    color: #c6c6c6; }
  .payState > div.unpaid > i {
    color: #eb9494; }
  .payState > div.unpaid > span {
    color: #eb9494;
    font-weight: bold;
    text-decoration: underline; }
  .payState > div.unpaid:hover > span {
    color: #eb9494; }

.bill-date > div {
  display: flex;
  align-items: center; }
  .bill-date > div > span {
    width: 13px;
    height: 13px;
    border-radius: 20px;
    background-color: #d5d5d5;
    margin-right: 8px; }
    .bill-date > div > span.near {
      background-color: #fcb431; }
    .bill-date > div > span.expire {
      background-color: #f87272; }
  .bill-date > div > i {
    margin-left: 10px;
    color: #ced17c;
    font-size: 17px; }

.options {
  min-width: 100px;
  flex-wrap: nowrap; }
  .options div {
    display: flex;
    align-items: center;
    min-width: 100px;
    flex-wrap: nowrap; }
    .options div > i {
      font-size: 18px;
      color: #cacaca;
      cursor: pointer;
      margin-right: 18px;
      border-radius: 5px;
      transition: .5s; }
      .options div > i.edit {
        color: #aec9d7;
        font-size: 15px; }
        .options div > i.edit:hover {
          color: #89b2cd; }
      .options div > i.remove {
        color: #f4b7b7; }
        .options div > i.remove:hover {
          color: #ef9292; }

.empty-cell {
  color: gray;
  font-style: italic; }

.table-interact-separate {
  margin: 0 !important; }

.status {
  font-weight: 500 !important; }
  .status.stateWait {
    color: #daac6f; }
  .status.stateSuccess {
    color: #8bc68b; }
