.people-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    > div {

        &:nth-of-type(1) {
            position: relative;

            > img {
                width: 70px;
                height: 70px;
                border-radius: 55%;
                margin-bottom: 10px;
                box-shadow: 3px 3px 2px #848181;
                border: none;
            }

            > button {
                position: absolute;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 20px;
                padding: 3px 5px;
                bottom: 15px;
                right: 3px;
                transition: .2s;

                &.remove {
                    background-color: #b047477a;

                    > i {
                        font-size: 11px;
                        color: white;
                    }
                }

                &.add {
                    background-color: #8ee78e8a;

                    > i {
                        font-size: 11px;
                        color: white;
                    }
                }
            }
        }

        &:nth-of-type(2) {
            border-top: 1px solid #e9e9e9;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            > p {
                margin: 0;
                font-weight: 700;
                color: gray;
            }

            > small {
                font-size: 12px;
                font-weight: 400;
                color: #a1a1a1;
            }
        }

    }

    &:hover {
        > div:nth-of-type(1) {
            > button {
                &.remove {
                    background-color: #d16969;
                }

                &.add {
                    background-color: #7dc87d;
                }
            }
        }
    }
}
