.timeBox {
    display: flex;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;

    > div {
        display: flex;
        align-items: center;

        > i {
            margin-right: 20px;
            font-size: 25px;
            color: #c6c6c6;
        }

        p {
            margin: 0;
            font-size: 13px;

            &:nth-of-type(1) {
                color: #aaaaaa;
            }

            &:nth-of-type(2) {
                color: #aaaaaa;
                font-size: 12px;
            }
        }
    }

    > span {
        > span {
            font-size: 13px;
            color: #c8c8c8;
        }
    }

    &.invoice {

        > div {
            > i {
                color: #a3a3a3;
            }

            p {
                &:nth-of-type(1) {
                    color: #777777;
                }

                &:nth-of-type(2) {
                    color: gray;
                }
            }
        }

        > span {
            padding: 3px 10px;
            border: 1px solid #dedede;
            border-radius: 5px;

            > span {
                color: #939393;
                font-weight: 500;
                font-size: 12px;
            }

            > i {
                color: #939393;
                font-size: 12px;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &.inwork {
        > span#working {
            background-color: #f2f2f2;
            padding: 3px 12px;
            border: 1px solid #f2f2f2;
            border-radius: 3px;

            > span {
                color: #959595;
                font-weight: 500;
                font-size: 12px;
            }

            > i {
                color: #939393;
                font-size: 12px;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}
